# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv2/
.env
.venv/
env/
bin/
lib/
share/
Include/
Scripts/

# DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Project specific
Antigravity/
Antigravity.exe
*.pdf
*.docx
temp_audio.wav
fix_admin.py
frontend/static/generated_logos/
